<template name="recipDisplay">
  <div class="recipie">
    <div class="row">
      <div class="col-md-3" style="font-weight: bold;">Name</div>
      <div class="col-md-9"><a href="{{pathFor 'recipView'}}">{{name}}</a></div>
    </div>
    <div class="row">
      <div class="col-md-3" style="font-weight: bold;">Description</div>
      <div class="col-md-9">{{description}}</div>
    </div>
    <div class="row">
      <div class="col-md-3" style="font-weight: bold;">Ingredients</div>
      <div class="col-md-9">
        <ul>{{#each ingredients}}
          {{> listIngred}}
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3" style="font-weight: bold;">Instructions</div>
      <div class="col-md-9">{{instructions}}</div>
    </div>
  </div>
  <hr style="margin: 5px;">
</template>


<template name="listIngred">
  <li>{{quantity}} {{translateUnit unit}} * {{ingredient}} ({{ingredientID}})</li>
</template>
