<template name="recipSubmit">
<h1 class="page-header">Submit a new Drink</h1>
<div class="row">
<p>
{{#autoForm collection="Drinks" id="newDrinkForm" type="insert" template="bootstrap3" }}
   <fieldset>
     {{> afQuickField name='name'}}
     {{> afQuickField name='description'}}
     {{> afQuickField name='ingredients' template="custom_ingredients" bodyclass="container-fluid row"}}
     {{> afQuickField name='instructions' rows=6}}
   </fieldset>
   <button type="submit" class="btn btn-primary">Save new drink</button>
 {{/autoForm}}
</p>
</div>
</template>

<template name="afArrayField_custom_ingredients">
  <div class="panel panel-default">
    <div class="panel-heading">{{afFieldLabelText name=this.atts.name}}</div>
    {{#if afFieldIsInvalid name=this.atts.name}}
    <div class="panel-body has-error">
      <span class="help-block">{{{afFieldMessage name=this.atts.name}}}</span>
    </div>
    {{/if}}
    <ul class="list-group">
      {{#afEachArrayItem name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
      <li class="list-group-item autoform-array-item">
        <div>
          <div class="autoform-remove-item-wrap">
            <button type="button" class="btn btn-primary autoform-remove-item" style="{{#unless afArrayFieldHasMoreThanMinimum name=../atts.name minCount=../atts.minCount maxCount=../atts.maxCount}}visibility: hidden;{{/unless}}"><span class="glyphicon glyphicon-minus"></span></button>
          </div>
          <div class="autoform-array-item-body">
              {{> afQuickField name=this.name options=afOptionsFromSchema}}
          </div>
        </div>
      </li>
      {{/afEachArrayItem}}
      {{#if afArrayFieldHasLessThanMaximum name=this.atts.name minCount=this.atts.minCount maxCount=this.atts.maxCount}}
      <li class="list-group-item">
        <button type="button" class="btn btn-primary autoform-add-item" data-autoform-field="{{this.atts.name}}" data-autoform-minCount="{{this.atts.minCount}}" data-autoform-maxCount="{{this.atts.maxCount}}"><span class="glyphicon glyphicon-plus"></span></button>
      </li>
      {{/if}}
    </ul>
  </div>
</template>

<template name="dataPiece">
  {{name}} <small class="muted">({{_id}})</small>
</template>
