<template name="sidebar">
  <ul class="nav nav-sidebar">
    <li class="{{activeRouteClass 'home'}}"><a href="{{pathFor 'home'}}">Home</a></li>
    <li class="{{activeRouteClass 'about'}}"><a href="{{pathFor 'about'}}">About fwDB</a></li>
    <li class="{{activeRouteClass 'copyright'}}"><a href="{{pathFor 'copyright'}}">Copyright</a></li>
  </ul>

<p>Drinks</p>
<ul class="nav nav-sidebar">
  {{#if currentUser}}<li class="{{activeRouteClass 'recipSubmit'}}"><a href="{{pathFor 'recipSubmit'}}">Submit New</a></li>{{/if}}
  <li class="{{activeRouteClass 'recipPopular'}}"><a href="{{pathFor 'recipPopular'}}">Most Popular</a></li>
  <li class="{{activeRouteClass 'recipNewest'}}"><a href="{{pathFor 'recipNewest'}}">Newest</a></li>
  <li><a href="">Random</a></li>
</ul>

{{#if currentUser}}
  <p>My Pages:</p>
  <ul class="nav nav-sidebar">
    <li class="{{activeRouteClass 'myBar'}}"><a href="{{pathFor 'myBar'}}">My Bar</a></li>
    <li class="{{activeRouteClass 'myRecipes'}}"><a href="{{pathFor 'myRecipies'}}">My Recipies</a></li>
    <li class="{{activeRouteClass 'myComments'}}"><a href="{{pathFor 'myComments'}}">My Comments</a></li>
  </ul>
{{/if}}
</template>
